<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Cobro:</strong>
  <%= @cliente.cobro %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @cliente.servicio %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
